################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/PROYECTO-PARTE1/HT2_CesarSilva_1184519.sln
/PROYECTO-PARTE1/HT2_CesarSilva_1184519.sln
/.vs
/PROYECTO-PARTE1/.vs/HT2_CesarSilva_1184519
